
Android/.gradle/7.3.3/executionHistory/executionHistory.bin

Android/.gradle/7.3.3/executionHistory/executionHistory.lock

Android/.gradle/7.3.3/fileHashes/fileHashes.bin

Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

*.bin

Android/local.properties

